<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharpx.Core" version="1.8.31" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers" version="1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="NUnit.Sample" version="1.0.0" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="0.96.0" targetFramework="net45" />
  <package id="NUnitTestAdapter.WithFramework" version="0.96.0" targetFramework="net45" />
  <package id="System.Web.Providers" version="1.2" targetFramework="net45" />
</packages>